// * My apologies for any confusion with the color names. I tried my best to name each one appropriately, but I was a bit unsure of how to name some colors 

$primary-color: white;
$secondary-color: black;
$label-sale: #eba6aa;
$label-new: #88cce2;
$back-color-hover-nav:#eeaeca;
$back-color-hover-button:  rgb(140, 14, 249);


