html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 125%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

ul,
h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
}

header .top-header {
  display: flex;
  justify-content: space-between;
  height: 14vh;
  align-items: center;
  padding: 20px;
}

header .top-header a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

header .top-header a:hover {
  box-shadow: 0px 0px 10px 0px;
  box-shadow: 0px 0px 10px 0px;
  background-color: #eeaeca;
  color: white;
  border: 2px solid black;
  text-align: center;
  display: block;
  width: 120px;
  padding: 2px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 362px;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.home-header {
  display: flex;
  flex-direction: column;
}

.img-home-container {
  position: relative;
}

.home-content {
  width: 20%;
  position: absolute;
  top: 35%;
  left: 20%;
}

.home-header p {
  font-size: 12px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.hamburger-menu {
  display: none;
}

.blog {
  height: auto;
  padding: 40px 0px 40px 0px;
}

.blog ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.blog ul li .img-categories img {
  width: 100%;
  height: auto;
}

.blog ul li {
  width: calc(33% - 20px);
  display: flex;
  position: relative;
}

.blog ul li .img-categories {
  position: relative;
  height: auto;
}

.blog ul li .link-categories {
  position: absolute;
  top: 85%;
  background-color: white;
  width: 120px;
  text-align: center;
  font-size: 15px;
  height: 37px;
  padding-top: 10px;
}

.blog ul li .link-categories a:hover {
  text-decoration: underline;
  color: #bfb60d;
  transition: 0.3s;
}

.gallery {
  height: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

h2,
.button-gallery {
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
}

.gallery .button-gallery {
  padding-top: 50px;
}

.gallery ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.gallery ul li {
  width: calc(20% - 20px);
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.gallery .inside-gallery .product-name {
  display: flex;
  justify-content: space-between;
}

.gallery h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.gallery a .fa-solid.fa-cart-shopping {
  border: 1px inset rgba(128, 128, 128, 0.3215686275);
  height: 27px;
  width: 32px;
  margin-top: 0px;
  padding-top: 3px;
  padding-left: 3px;
}

.gallery ul li a {
  border: 1px solid rgba(102, 102, 102, 0.0705882353);
}

.inside-gallery {
  position: relative;
}

.promo-sale,
.promo-new {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid transparent;
  width: 69px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.promo-sale {
  background-color: #eba6aa;
}

.promo-new {
  background-color: #88cce2;
}

.gallery a .inside-gallery .price-before {
  text-decoration: line-through;
  margin-right: 10px;
}

.gallery ul li a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.gallery .button-gallery button {
  width: 117px;
  padding: 13px;
  background-color: white;
  line-height: 1.2;
}

.gallery .button-gallery button:hover {
  background-color: rgb(140, 14, 249);
  color: white;
  border: 2px solid black;
}

.sofa-discounts {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sofa-discounts .big-sale {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sofa-discounts .sale-brown-sofa,
.sofa-discounts .sale-white-sofa {
  display: flex;
  justify-content: space-evenly;
}

.sofa-discounts .big-sale .sale-brown-sofa,
.sofa-discounts .big-sale .sale-white-sofa {
  position: relative;
}

.sofa-discounts .big-sale .img-30-off,
.sofa-discounts .big-sale .img-50-off {
  posItion: relative;
}

.big-sale .sale-brown-sofa .text-30-off {
  position: absolute;
  top: 10px;
  display: flex;
}

.big-sale .sale-brown-sofa .text-30-off > p:nth-child(1) {
  margin-left: 10px;
}

.big-sale .text-30-off .percentage-big-size {
  font-weight: bold;
  font-size: 40px;
}

.big-sale .sale-brown-sofa .text-30-off p {
  color: white;
  border: 2px solid white;
  height: 24%;
  font-size: 28px;
  max-width: calc(100% - 20px);
  text-align: center;
}

.big-sale .sale-white-sofa .text-50-off {
  position: absolute;
  top: 50%;
  text-align: center;
  color: white;
}

.big-sale .sale-white-sofa .text-50-off .percentage-big-size {
  font-size: 51px;
  font-weight: bold;
}

.text-50-off a {
  color: white;
}

.sale-white-sofa .text-50-off .inside-white {
  display: inline-block;
  background-color: white;
  color: wheat;
  font-size: 12px;
  border: 2px solid transparent;
  width: 120px;
  margin: 0 auto;
  height: 28px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.big-sale {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.img-30-off, .img-50-off {
  width: 80%;
}

.instagram {
  padding-top: 20px;
  padding-bottom: 20px;
}

.instagram ul {
  display: flex;
  justify-content: space-between;
}

.instagram ul li {
  width: calc(20% - 20px);
}

footer {
  background-color: #333;
  margin-top: 40px;
  color: white;
}

footer .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 40px;
}

footer .wrapper .row-footer {
  width: calc(25% - 20px - 20px);
}

footer .row-footer .icons-footer {
  display: flex;
  justify-content: flex-start;
}

footer .icons-footer .fa-facebook,
footer .icons-footer .fa-twitter {
  margin-right: 20px;
}

.row-footer h4 {
  margin-bottom: 20px;
}

footer p {
  font-size: 12px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

footer a {
  color: white;
  font-size: 12px;
}

footer .row-footer ul li i {
  margin-right: 5px;
}

@media (max-width: 1025px) {
  .home-content {
    top:31%;
  }
  .home-content .content-container p {
    font-size: 9px;
  }
  .big-sale .sale-brown-sofa p {
    visibility: hidden;
  }
  .big-sale .sale-brown-sofa p span.percentage-big-size {
    visibility: visible;
    font-size: 40px;
    margin-left: 122px;
  }
  footer .wrapper {
    padding: 40px;
  }

  header .contact-header .title-content {
    top:19%;
  }
  header .contact-header h1 {
    font-size: 28px;

  }
}

@media (max-width: 765px) {
  .home-content {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
    font-size: 15px;
  }
  header .top-header {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu .drop-down ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  header {
    position: relative;
  }
  .nav-bar {
    position: absolute;
    left: 90%;
    top: 0%;
  }
  .hamburger-menu .drop-down {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(235, 219, 103, 0.3);
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .hamburger-menu .drop-down ul {
    width: 100%;
  }
  .drop-down {
    display: none;
  }
  .hamburger-menu:focus-within .drop-down {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
  }
  .hamburger-menu .drop-down li:hover {
    align-items: center;
    background-color: #DEFA75;
    width: 100% ;
    display: flex;
    height: 27px;
    align-items: center;
    justify-content: center;
  }
  .hamburger-menu .drop-down li a {
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    color: rgb(155, 191, 240);
  }
  .home-header p {
    display: none;
  }
  .home-header .title-container h1 {
    /* display: none; */
    font-size: 20px;
    margin-left: 40px;
  }
  .blog ul li .link-categories {
    width: 88px;
  }
  .blog ul li .link-categories a {
    font-size: 10px;
    padding-right: 30px;
  }
  .gallery ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  .gallery ul li {
    width: calc(50% - 10px);
  }
  .sofa-discounts .big-sale {
    flex-direction: column;
  }
 
  .big-sale .sale-brown-sofa p {
    visibility: hidden;
  }
  .big-sale .sale-brown-sofa p span.percentage-big-size {
    visibility: visible;
    margin-left: 0px;
  }
  .sofa-discounts .big-sale .sale-white-sofa .img-50-off {
    padding-top: 20px;
  }
  
  footer .wrapper {
    flex-direction: column;
  }
  footer .wrapper .row-footer {
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
  }
 
  .instagram ul {
    flex-wrap: wrap;
    display: flex;
  }
  
}



/* styling the contact page, I used the same home page styles for the nav bar and the footer */

/* styling the form */

.contact-main {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  align-items: center;
}

/* styling the form for the contact-page */

.contact-main form {
  display: flex;
  flex-direction: column;
  align-items: ;
  justify-content: space-between;
  height: 70%;
  flex-wrap: wrap;
}

.contact-main form .group-form input, textarea {
  border:none;
  border-bottom: 1px solid black;
}

.contact-main form .group-form button {
  width: 120px;
  height: 40px;
  text-align: center;
}

/* styling button:hover */

.contact-main form .group-form button:hover {
  background-color: rgb(140, 14, 249);
  color: white;
  border: 2px solid black;
}




